For running below code we need these python modules

```
python3 -m pip install pandas odfpy openpyxl
```

In [12]:
# importing pandas as pd 
import pandas as pd 
  
# read an excel file and convert  
# into a dataframe object 
df = pd.DataFrame(pd.read_excel("a.xlsx")) 
# df = pd.read_excel("a.ods", engine="odf") 

# show the dataframe 
df

       نام  سن
0  esmaeel  99
1   Maryam  ۲۲
2   کامران  ۶۶
3    moein  88